.back-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.best-selling-section {
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
  gap: 40px;
}

.product-card {
  margin:5px;
  background-color: rgb(233, 233, 233);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-imag {
  width:100%;
  height:auto;
  border-radius:5px;
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1rem;
  color: #28a745;
  margin-bottom: 10px;
}

.product-rating {
  font-size: 0.9rem;
  color: #e4b909;
  margin-bottom: 15px;
}
.add-to-cart-button {
  background-color: #0c0952a2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px;
  margin-bottom: 10px;
}

.add-to-cart-button.in-cart {
  background-color: #28a745; 
}

.add-to-cart-button:hover {
  background-color: #09082fb7;
}
.testimonial-home{
  font-style: italic;
  color: #903939;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-decoration:none;
}


